/*General things*/
    
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  text-decoration: none;
}

a, button, cta {
  font-weight: 500;
  font-size: 40px;
  color: var(--turquoise-shade-2);
  text-decoration: none;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--turquoise-shade-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0 5px var(--turquoise-shade-light-3);
  height: 12vh;
  position: relative;
  padding: 20px 5%;
}

/*Daily Task Components---------------------------------------------------*/


.progress-bar-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%); /* Centrado horizontal verdadero */
  width: 50%; /* Ajustar según diseño */
  background-color: #959595;
  border-radius: 20px;
}

.progress-bar {
  height: 20px;
  background-color: var(--green-orange-9); 
  transition: width 0.3s ease-in-out;
  border-radius: 20px;
}

.progress-bar span {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: white;
  float: right;
  margin-top: -20px;
  margin-right: -20px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--turquoise-shade-1);
  margin-right: 20px; 
}

.score {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background-color: var(--turquoise-shade-1);
}

.order{
  background-color: var(--purple-shade-1);
  width: 400px;
  height: 50px;
  text-align: center;
  font-size: 20px;
}


/*-----task list----------------------------------------------------*/
.list {
  flex: 1; /* Ocupa espacio disponible */
  overflow-y: auto;
  margin: 20px 0;
  max-height: calc(100vh - 20vh);
  overflow-y: auto;
  left: 0;
  right: 0;
  border: solid 5px var(--turquoise-shade-light-3);
  padding-top: 20px;
  border-radius: 20px;
}

.task{
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 2px;
  margin: 10px 0px;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px 10px 0px 10px;
  box-sizing: border-box;
  box-shadow: -10px 5px 10px 5px var(--blue-shade-2);
  border-radius: 20px; 
}

.task:hover{
  box-shadow: -10px 5px 10px 8px var(black);
  margin: 20px 0px;
  transition: all 0.2s ease 0s; 
}

.task span{
  padding: 0px 10px 0px 10px;
  border-radius: 20px;
}

span.task-text{
  padding-right: 40px;
}

.task-description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  box-shadow: -5px 0 5px -5px black;
  height: 100%;
  width: 50%;
  padding: 10px;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;

}


.task-buttons{
  position: absolute; 
  right: 0;
  height: 60px;
  font-size: 10px;    
  border-radius: 20px; 
}

.task button{
  padding: 5px;
  margin: 0px 20px;
  right: 100%;
  font-size: 30px;    
}  

.button-move {
  padding: 10px;
  margin: -20px -20px;
  right: 100%;
  font-size: 30px;
  width: 100px;
}

.delete{
transform: translateY(20%);
background-color: var(--red-shade-1);
}

.delete:hover{
background-color: var(--red-shade-3);
box-shadow: 0 0 0 10px var(--orange-6);
}

.done{
transform: translateY(20%);
background-color: var(--green-orange-9);
}

.done:hover{
background-color: var(--green-shade-6);
box-shadow: 0 0 0 10px var(--green-orange-9);
}

.edit{
  transform: translateY(18%);
}

footer {
  background-color: var(--turquoise-shade-1);
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 5px var(--turquoise-shade-light-3);
  height: 20vh;
  position: relative;
  padding: 0;
}

.footer-nav-links{
  background-color: var(--turquoise-shade-1);
  margin-top: auto;
  height: 19.5vh;
  position: relative;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

button {
  padding: 0.5em 2em;
  border: none;
  border-radius: 10px;
  background-color: var(--turquoise-shade-3);
  cursor: pointer;
  transition: all 0.2s ease 0s;
  box-sizing: border-box;
  box-shadow: 0 0 0 5px var(--turquoise-shade-2);
}

.nav_links {
  list-style: none;
}

.nav-links a {
  transition: all 20px 0 0;
  color: var(--white-shade-5);
  text-decoration: none;
}

button:hover {
  background-color: var(--turquoise-shade-4);
  box-shadow: 0 0 0 10px var(--turquoise-shade-3);
  color: var(--white-shade-1);
}

/*add button*/

.add-button {
  position: relative;
  display: inline-block;
}

.add-button button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -110%);
  width: 5.5em;
  height: 5em;
  border-radius: 50%;
  padding: 0;
  background-color: var(--turquoise-shade-3);
  box-shadow: 0 0 0 5px --blue;
}

.add-button span {
  font-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  font-size: 1px;
  background-color: var(--purple);
  color: white;
  margin: 0;
  padding: 0;
}

.add-button span {
  width: auto;
  font-size: 1em;
}

.add-button p {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.add-button:hover {
  background-color: var(--purple);
  box-shadow: 0 0 0 10px var(--purple);
  color: var(--vibrant-orange);
}

.add-button span:hover {
  color: var(--vibrant-orange);
  font-size: 40px;
}

/*---------------------------MODAL----------*/


.add-task-modal {
height: 50%;
width: 30%;
max-width: 800px;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border: 3px solid;
border-radius: 10px;
z-index: 9999;
text-align: end;
display: flex;
justify-content: center;
padding: 0px;
margin: 0px;
}

.to-do-list {
font-family: Arial, sans-serif;
position: relative;
width: 100%;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
background-color: whitesmoke;
display: flex; 
flex-direction: column; 
gap: 10px; 
}


.to-do-list h1 {
font-size: 30px;
margin-bottom: 20px;
text-align: center;
background-color: whitesmoke;
}

.add-modal {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10px;
flex-direction: column;
gap: 0.5px;
width: 100%;
background-color: whitesmoke;
}

.add-modal input[type="text"] {
flex: 1;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
}

.add-modal button {
padding: 5px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
}

.add-modal button:hover {
background-color: #0056b3;
}

.input-container {
position: relative;
height: 50px;
width: 80%;
margin-bottom: 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}

.input-container-desc{
position: relative;
height: 150px; /* Define the height of .input-container */
width: 80%;
margin-bottom: 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}

.input-container option[value="Must"] {
background-color: #FF6666; /* Red */
}

.input-container option[value="Should"] {
background-color: #FFFF99; /* Yellow */
}

.input-container option[value="Could"] {
background-color: #99FF99; /* Green */
}

.input-container option[value="Would"] {
background-color: #99CCFF; /* Blue */
}

.add, .save, .close {
font-size: 35px;
position: absolute;
bottom: 50px; /* Adjust the position below the input */
padding: 10px;
border: none;
cursor: pointer;
}

.add {
right: 40px;
background-color: var(--green-orange-9);
}

.save {
right: 40px;
}

.close {
left: 40px; /* Align .close button to the left */
background-color: var(--red-shade-2);
}

.to-do-list ul {
list-style-type: none;
padding: 0;
}

.to-do-list li {
margin-bottom: 5px;
}

.to-do-list li:last-child {
margin-bottom: 0;
}



@media screen and (max-width: 768px) {
  button {
    padding: 0.5em 0.8em;
  }
}